$col-err-txt: #842029;
$col-err-bg: #fdebed;
$col-err-bg2: #FDEBEDFF;
$col-err-bdr: #f5c2c7;

$col-bs-blue: #0d6efd;
$col-royal-blue: #3a56e4;

$col-bs-btn-gray: #6c757d;
$col-facet-title: #8b9bad;
$col-entity-grey: #fcfcfc;