$col-err-txt: #842029;
$col-err-bg: #fdebed;
$col-err-bg2: #FDEBEDFF;
$col-err-bdr: #f5c2c7;

$col-bs-blue: #0d6efd;
$col-royal-blue: #3a56e4;

$col-bs-btn-gray: #6c757d;

$col-source-type: rgb(255, 194, 85);
$col-sample-type: rgb(235, 181, 200);
$col-dataset-type: rgb(142, 203, 147);