/*Required CSS to make the icons in the RUI tool inside the carousel space out properly*/
.carousel-item {
  margin-right: 0 !important;
}

#unityContainer {
}

.hipaa-alert {
  font-size: 18px !important;
}

.deidentify-alert {
  font-size: 18px !important;
}
