.no_sidebar .sui-layout-sidebar {
    width: 0 !important;
    padding: 0 !important;
}

.no_sidebar .sui-layout-main {
    width: 100% !important;
}

.sui-layout-header {
    padding: 0 !important;
    border-bottom: 0 !important;
}

.sui-multi-checkbox-facet__input-text {
    text-transform: capitalize;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus,
[tabindex='0']:focus, [tabindex='1']:focus, a:active, button:active, input:active, select:active, textarea:active, [tabindex='0']:active, [tabindex='1']:active {
    outline: 1px dotted #0d6efd;
}

html {
    scroll-padding-top: 80px;
}

.search-box-header {
    padding: 32px 24px;
    border-bottom: 1px solid #eeeeee;
}

.clear-filter-div {
    padding-bottom: 32px;
}

.clear-filter-button {
    width: 100%;
}

.required {
    color: red;
}

.entity_subtitle {
    font-size: 16px;
    text-decoration: none;
}

.link_with_icon {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.card-body {
    padding: 0 24px !important;
}

.error-heading {
    text-align: center;
}

.error-row {
    height: 35em;
}

p {
    white-space: pre;
}

/*Required CSS to make the icons in the RUI tool inside the carousel space out properly*/
.carousel-item {
    margin-right: 0 !important;
}

.dropdown-menu {
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .navbar .fs-3 {
        font-size: 1.25rem !important;
    }
}

.results-header {
    white-space: nowrap;
}

.hipaa-alert {
    font-size: 18px !important;
}

.link {
    cursor: pointer;
    color: var(--bs-link-color);
    text-decoration: underline;
}

.card-body .c-provenance .neo4jd3__graph {
    min-height: 300px;
    background-color: transparent;
    border: none;
    margin-top: 0;
}