.no_sidebar .sui-layout-sidebar {
    width: 0 !important;
    padding: 0 !important;
}

.no_sidebar .sui-layout-main {
    width: 100% !important;
}

.sui-layout-header {
    padding: 0 !important;
    border-bottom: 0 !important;
}

html {
  scroll-padding-top: 80px;
}

.search-box-header {
    padding: 32px 24px;
    border-bottom: 1px solid #eeeeee;
}

.clear-filter-div {
    padding-bottom: 32px;
}

.clear-filter-button {
    width: 100%;
}

.required {
    color: red;
}

.entity_subtitle {
    font-size: 16px;
    text-decoration: none;
}

.link_with_icon {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.card-body {
    padding: 0 24px !important;
}

.error-heading {
    text-align: center;
}

.error-row {
    height: 35em;
}

p {
    white-space: pre;
}