// Collapsible sections
.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  box-shadow: none;
}

.accordion-button:focus, .accordion-button:active {
  outline: none !important;
  box-shadow: none;
}

.accordion-button {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
}

.accordion-body {
  padding-bottom: 0px;
  padding-top: 0px;
}

.accordion-body .nav-item .nav-link {
  border-radius: 0;
  border: solid 1px #eee;
}

.accordion-body .nav-item {
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.accordion--vitessce {
  width: 100%;
  position: relative;
  .accordion-body {
    height: 900px;
  }
  .accordion-collapse.show-invisible {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
    overflow-x: hidden;
  }
  .accordion-collapse.show-invisible.show {
    position: inherit;
    opacity: 1;
  }
}

.accordion {
  .rdt_Table {
    max-height: 530px;
    overflow-y: auto;
  }

  &#Summary{
    .accordion-button {
      background: none !important;
    }
  }
}

.accordion-nested {
  .accordion-header span {
    font-size: 85%;
  }

  .MuiStack-root {
    flex-wrap: wrap;
    > span {
      margin-left: 0;
      margin-right: 8px;
      line-height: 1.9;
    }
  }
}

.accordion-metadata {
  .accordion-button {
    @include sm-mx {
      display: inherit;
    }
  }
}