.badge-info,
.btn-info {
  color: #000;
  background-color: #0dcaf0;
}

.badge-hold,
.badge-dark,
.badge-neutral,
.badge-secondary,
.btn-neutral {
  background-color: #6c757d;
  color: white;
}

.badge-success,
.badge-published,
.badge-valid,
.btn-success {
  background-color: #198754;
  color: white;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
}

.badge-purple {
  color: #fff;
  background-color: #6f42c1;
}
