.badge-info,
.btn-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-neutral,
.btn-neutral {
  background-color: #424242;
  color: white;
}

.badge-success,
.badge-published,
.badge-valid,
.btn-success {
  background-color: #0ecd3a;
  color: white;
}

.badge-hold,
.badge-dark,
.badge-secondary {
  background-color: #424242;
  color: white;
}

.badge-danger {
  background-color: rgb(220, 0, 78);
  color: white;
}

.badge-purple {
  color: #fff;
  background-color: #9933cc;
}
