.badge-info,
.btn-info {
  color: #fff;
  background-color: #128091;
}

.badge-neutral,
.btn-neutral {
  background-color: #424242;
  color: white;
}

.badge-success,
.badge-published,
.badge-valid,
.btn-success {
  background-color: #198754;
  color: white;
}

.badge-hold,
.badge-dark,
.badge-secondary {
  background-color: #424242;
  color: white;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
}

.badge-purple {
  color: #fff;
  background-color: #9933cc;
}
