.no_sidebar .sui-layout-sidebar {
  width: 0 !important;
  padding: 0 !important;
}

.no_sidebar .sui-layout-main {
  width: 100% !important;
}

/*Required CSS to make the icons in the RUI tool inside the carousel space out properly*/
.carousel-item {
  margin-right: 0 !important;
}

#unityContainer {
  padding-bottom: 60px
}

.hipaa-alert {
  font-size: 18px !important;
}
