.entity_subtitle {
  font-size: 16px;
  text-decoration: none;
}

.icon_inline {
  display: inline-flex !important;
  align-items: center;
  text-decoration: none;
}

.entity_body {
  background: #FCFCFC;
}

@media screen and (min-width: 768px) {
  .entity_details {
    margin-top: -27px !important;
  }
}

@media screen and (max-width: 767px) {
  .entity_details {
    margin-top: 10px !important;
  }
}