.entity_subtitle {
  font-size: 16px;
  text-decoration: none;
}

.link_with_icon {
  display: inline-flex !important;
  align-items: center;
  text-decoration: none;
}

.entity_body {
  background: #FCFCFC;
}

@media screen and (max-width: 480px) {
  #entity_details {
    margin: 0 !important;
  }
}