.footer-wrapper {
  margin-top: 30px;
  width: 100%;
}
footer {
  width: 100%;
  li  img {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }

  .sennet-logo {
    max-width: 150px;
  }

  .nih-logo {
    max-width: 350px;
    max-height: 55px;
  }

  @media (max-width: 1200px) {
    .col {
      &--placeholder {
        display: none;
      }
      &--main {
        width: 100%;
      }
    }

    .nih-logo {
      max-width: 280px;
      max-height: 44px;
    }
  }

  @media (max-width: 950px) {
    .col {
      &--main {
        .col-sm-2 {
          width: 33.3%;
        }
      }

      &--logos {
        width: 100%;
        text-align: center;
        li {
          width: 100%;
          display: block;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .nih-logo {
      max-width: 250px;
      height: 39px;
    }
    .col {
      &--main {
        .col-sm-2 {
          width: 100%;
          text-align: center;
          ul {
            padding-left: 0;
          }
        }
      }
    }
  }

  .nav {
    &--org {
      li {
        list-style: none;
      }
    }
    &--menu, &--copyright {
      a {
        &:hover {
          text-decoration: underline;
          color: black !important;
        }
      }
    }

    &--menu {
      .nav-item-h {
        font-weight: bold;
        color: var(--bs-gray-700)
      }
      li {
        display: block;
        a {
          color: var(--bs-gray-600);
          text-decoration: none;
          font-size: .9rem;
        }
      }
    }

    &--copyright {
      max-width: 90%;
      margin: auto;
    }
  }
}