.form {
  &-group {
    position: relative;

    &.has-warning {
      input {
        border-color: var(--bs-warning) !important;
        background-image: none !important;

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(220, 188, 53, 0.25);
        }
      }

      .warning-icon-trigger {
        position: absolute;
        top: 36px;
        right: 10px;
      }
    }
  }
}

.transparent {
  background-color: transparent !important;
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
}

.right-border-none {
    border-right:none !important;
    box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
 }
