.c-SelectedFacets {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    min-height: 85px;
}

@include md-mx {
    .c-SelectedFacets {
        min-height: 0px;
        padding: 20px 0 0;
    }

    .c-SelectedFacets:empty {
        min-height: 0px;
        padding: 0px 0;
    }
}
