.c-help {

  &__title {
    font-size: calc(1.275rem + 0.3vw) !important;
  }

  .swal2-close {
    font-size: 1.5em;
    position: relative;
    top: 10px;
    height: 2em;
    margin-right: 0.8em;
    &:focus {
      @include mx-focus;
      box-shadow: none;
    }
  }

  .shape  {
    &.pink:after {
      background-color: #ebb5c8;
    }

    &.shape {
      &--diamond:after {
        transform: rotate(45deg);
      }

      &--circle:after {
        border-radius: 30px;
      }

      &--rect:after {
        width: 25px;
      }
    }
    &:after {
      width: 15px;
      height: 15px;
      margin-left: 3px;
      content: ' ';
      display: inline-block;
    }
  }

  .swal2-close:hover {
    color: var(--bs-link-hover-color) !important;
  }

  .c-help__btn.swal2-styled {
    padding: 0.4em;

    background-color: transparent;
    width: 100px;
    border: solid 1px $col-bs-btn-gray;
    color: $col-bs-btn-gray;
    border-radius: 0;

    &:hover {
      background: $col-bs-btn-gray;
      color: white;
    }
  }

}