.c-help {

  &__title {
    font-size: calc(1.275rem + 0.3vw) !important;
  }

  .swal2-close {
    font-size: 1.5em;
    position: relative;
    top: 10px;
    height: 2em;
    margin-right: 0.8em;
    &:focus {
      @include mx-focus;
      box-shadow: none;
    }
  }

  .shape  {
    &.pink:after {
      background-color: $col-sample-type;
    }

    &.green:after {
      background-color: $col-dataset-type;
    }

    &.shape {
      &--diamond:after {
        transform: rotate(45deg);
      }

      &--circle:after {
        border-radius: 30px;
      }

      &--rect:after {
        width: 25px;
      }

      &--triangle:after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid $col-dataset-type;
        border-top: 10px solid transparent;
        display: inline-block;
      }
      &--blob:after {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%238ECB93FF' d='M24.8,11.1C22,8.5,20.6,2.1,12.2,2.1C5.1,2.1,0.9,7.2,1,14.4s6.9,9.7,11.2,9.7 c2.8,0,2.8,3.9,8.4,3.9c4.2,0,8.4-3.9,8.4-9C29,15,27.6,13.7,24.8,11.1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      }
    }
    &:after {
      width: 15px;
      height: 15px;
      margin-left: 3px;
      content: ' ';
      display: inline-block;
    }
  }

  .swal2-close:hover {
    color: var(--bs-link-hover-color) !important;
  }

  .c-help__btn.swal2-styled {
    padding: 0.4em;

    background-color: transparent;
    width: 100px;
    border: solid 1px $col-bs-btn-gray;
    color: $col-bs-btn-gray;
    border-radius: 0;

    &:hover {
      background: $col-bs-btn-gray;
      color: white;
    }
  }

}