.c-metadataUpload {

  .c-metadataUpload__fileInfo {
    font-size: 16px;
    line-height: 50px;
    margin-left: 10px !important;

    small {
      font-size: 10px;
      margin-left: 5px;
    }

    &.has-error small {
      cursor: pointer;
      color: $col-bs-blue;
    }
  }
}

.btn--fileUpload input[type=file] {
  opacity: 0;
  width: 20px;
}