.modal {
  &-body {
    .sui-layout-body__inner {
      margin-top: 20px;
    }
  }
  &-xxl {
    width: 80%;
    max-width: inherit;
    margin-left: auto;
    margin-right: auto;

    @include sm-mx {
      width: 98%;
    }
  }
  &--ctaConfirm {
    .modal-title {
      .title-text {
        position: relative;
        top: 2px;
        margin-left: 4px;
      }
    }
    &.is-error {
      .modal-content {
        color: $col-err-txt;
        background: $col-err-bg;
        border-color: $col-err-bdr;
      }
    }

    &.is-warning-outline {
      .modal-content {
        color: $col-warn-txt;
        border-color: $col-warn-bdr;
      }
    }
  }
  &-full {
    &.show {
      .modal-dialog {
        display: block;
        margin: 28px auto;
      }
    }
    .modal-dialog {
      max-width: 100%
    }
    .c-provenance {
      height: inherit;
      min-height: 500px !important;
    }
  }
}

