.modal {
  &-xxl {
    width: 80%;
    max-width: inherit;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      width: 98%;
    }
  }
  &--ctaConfirm {
    .modal-title {
      .title-text {
        position: relative;
        top: 2px;
        margin-left: 4px;
      }
    }
    &.is-error {
      .modal-content {
        color: $col-err-txt;
        background: $col-err-bg;
        border-color: $col-err-bdr;
      }
    }
  }
  &-full {
    .modal-dialog {
      max-width: 100%;
    }
    .c-provenance {
      height: inherit;
      min-height: 500px;
    }
  }
}

