@media screen and (max-width: 600px) {
  .navbar .fs-3 {
    font-size: 1.25rem !important;
  }
}

@media screen and (max-width: 480px) {
  .navbar .fs-3 {
    font-size: 1.1rem !important;
  }
}

@media screen and (max-height: 750px) {
  .navbar + .container {
    min-height: calc(100vh - 277px)
  }

  footer {
    position: inherit !important;
  }
}

.dropdown-menu {
  text-transform: capitalize;
  .submenu {
    display: none;
    &.is-active {
      display: block;
    }
  }
}

.dropdown-item {

  &.is-heading {
    &:hover {
      cursor: pointer;
      background-color: transparent;
      + .submenu {
        display: block;
      }
    }
  }
  &.is-subItem {
    color: var(--bs-gray-800);
    span {
      padding-left: .4em;
    }
    font-size: 90%;
  }
}
