@include sm-mx {
  .navbar .fs-3 {
    font-size: 1.25rem !important;
  }
}

@include xsm {
  .navbar .fs-3 {
    font-size: 1.1rem !important;
  }
}

.dropdown-menu {
  text-transform: capitalize;
  .submenu {
    &.is-active {
      display: block;
    }
  }
}

.dropdown-item {
  &.is-heading {
    color: var(--bs-gray-800);
    font-size: 90%;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      + .submenu {
        display: block;
      }
    }
  }
}


// Set this so tutorial overlay can be above navbar sticky
.sticky-top.navbar {
  z-index: 1000 !important;
  &.is-static {
    position: static !important;
  }
}