.popover {

  &.is-error {
    color: #842029;
    background: #f8d7da;
    border-color: #f5c2c7;

    .popover-body {
      color: #842029;
    }

    .popover-arrow:after {
      border-right-color: #f8d7da;
    }

  }
}
