.popover {
  z-index: 10000 !important;

  &-clipboard {
    &-pc {
      &:hover {
        svg {
          fill: var(--bs-link-hover-color)
        }
      }
    }

    z-index: 10;
  }

  &.is-error {
    color: $col-err-txt;
    background: $col-err-bg;
    border-color: $col-err-bdr;

    .popover-body {
      color: $col-err-txt;
    }

    .popover-arrow:after {
      border-right-color: $col-err-bdr;
    }
  }
}


.error-popover {
  max-width: 700px;
  //1 less than the navbar
  z-index: 1019 !important;
}