.custom-sticky {
  top: 74px !important;
  z-index: 1019 !important;
}

#sidebar-nav {
  width: 160px;
}

#sidebar .nav-link {
  font-weight: 500;
  font-size: 18px;
  color: var(--bs-dark);
}

#sections-button {
  margin-left: -50px;
  width: 42px; //This is set otherwise the z-index of this button interferes with other page functionality
  top: 90px !important
}