.custom-sticky {
  top: 74px !important;
  z-index: 1019 !important;
}

#sidebar-nav {
  width: 160px;
}

#sidebar .nav-link {
  font-weight: 500;
  font-size: 18px;
  color: var(--bs-dark);
}

#sections-button {
  margin-left: -50px;
  width: 42px; //This is set otherwise the z-index of this button interferes with other page functionality
  top: 220px !important;
}

.sidebar {
  &-drawer {

    &-btn {
      position: relative;
      background-color: var(--bs-gray-600);
      &:hover, &:active {
        background-color: var(--bs-gray-700) !important;
        i {
          transform: translateX(3px);
        }
      }
      &.is-open {
        i {
          left: 0;
        }
        &:hover {
          i {
            transform: translateX(-3px);
          }
        }
      }
      i {
        position: relative;
        transition: all .2s ease-in-out;
        color: white;
        left: 7px;
      }
    }
  }
}