// Search UI
.sui-result {
  list-style: none;
  padding: 0px 0;
  text-decoration: none;
  display: block;
  border: 1px solid #f0f0f0;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
  overflow-wrap: break-word;
  overflow: hidden;
}

.sui-result + .sui-result {
  margin-top: 15px;
}

.sui-layout-header {
  padding: 0;
  border-bottom: 0;
}

@include md-mx {
  .sui-layout-sidebar-toggle {
    display: block !important;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    color: $col-royal-blue;
    background-color: white;
    border: 1px solid $col-royal-blue;
    border-radius: 4px;
  }
}

.sui-result {
  &.has-table {
    .accordion-header {
      .accordion-button {
        padding-left: 28px;
        display: inline-flex !important;
        align-items: center;
      }
    }

    .sui-result__title {
      padding-left: 0.3em;
      padding-top: 10px;
    }
  }

  &--padded {
    padding-top: 20px;
    padding-bottom: 20px;
  }


}

.search-box-header {
  padding: 32px 24px;
  border-bottom: 1px solid #eeeeee;
}

.no_sidebar .sui-layout-sidebar {
  flex: 0 !important;
  width: 0 !important;
  padding: 0 !important;
}

.no_sidebar .sui-layout-main {
  padding: 32px 0 0 0 !important;
  width: 100% !important;
}

.sui-layout-main {
  width: 100%;
  padding: 32px 0 32px 32px;
}

// Facets
.clear-filter-div {
}

.clear-filter-button {
  width: 100%;
}

.sui-layout-body__inner {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 24px;
}

.sui-layout-sidebar {
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  padding: 0 32px 0 0;
  @media (max-width: 1350px) {
    flex: inherit;
  }
}

.sui-layout-sidebar--toggled {
  display: block !important;
  animation: fadein 0.2s ease-out;
}

.sui-layout-main {
  width: 100%;
  padding: 0 0 32px 32px;
}

.sui-facet__title--FileType + .sui-facet {
  text-transform: uppercase;
}

.sui-layout-sidebar-dropdown {
   margin-bottom: 1.5rem; 
}

// Handle sidebar on smaller screens
@include md-mx {
  .sui-layout-main {
    padding-left: 0;
  }

  .sui-layout-body__inner {
    display: block;
    padding: 0 15px;
  }

  .sui-layout-main {
    padding: 0 !important;
  }

  .sui-layout-sidebar {
    z-index: 1021;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px 30px 15px;
    background-color: #fcfcfc;
    overflow: auto;
  }

  .sui-layout-sidebar-dropdown {
    margin-bottom: 20px;
  }

  .sui-layout-sidebar-toggle {
    display: block !important;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    color: #3a56e4;
    background-color: #fff;
    border: 1px solid #3a56e4;
    border-radius: 4px;
  }

}

//Handle sidebar on smaller screens inside a modal
@media (max-width: 1199px) {
  .modal-content .sui-layout-body__inner {
    display: block;
    padding: 0 15px;
  }

  .sui-layout-main {
    padding: 0 !important;
  }

  .modal-content .sui-layout-sidebar {
    z-index: 1021;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px 30px 15px;
    background-color: #fcfcfc;
    overflow: auto;
  }

  .modal-content .sui-layout-sidebar-toggle {
    display: block !important;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    color: #3a56e4;
    background-color: #fff;
    border: 1px solid #3a56e4;
    border-radius: 4px;
  }
}

.sui-resultsTable {
  min-height: 400px;
}

#sui-tbl-checkbox-actions {
  code {
    color: var(--bs-code-color);
    word-wrap: break-word;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  position: absolute;
  right: 0;
  .dropdown {
    * {
      font-size: 0.8rem;
    }
    &-menu {
      z-index: 10 !important;
      min-width: 180px;
      &.menu--lg {
        min-width: 290px;
      }
    }
    &-item {
      &:active {
        background-color: transparent;
        color: inherit;
      }
    }
  }


 .btn {
   border: none !important;
 }
}

.sui-filters-summary {
  background: $col-entity-grey;
  padding: 0 24px;
  .MuiChip-root {
    color: $col-secondary-txt;
  }
  .chip-title {
    text-transform: uppercase;
    font-size: 12px;
    color: $col-facet-title;
    letter-spacing: .05em;
  }
}

.sui-multi-checkbox-facet {
  &__option-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: inherit;
  }
  &__option-count {
    color: $col-secondary-txt;
  }
  &__checkbox,
  &__input-text {
    display: table-cell;
  }
}

.sui-facet__RegisteredBy {
  .sui-multi-checkbox-facet {
    &__input-text {
      max-width: 140px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}


.sui-columns-toggle {
  position: absolute !important;
  right: 120px;
  z-index: 900; //must be lower than navbar but above fixed header in DataTable
}

.sui-react-select {
  position: relative;
  z-index: 900; //must be lower than navbar but above fixed header in DataTable
}

.sui-filterableComponent {
  .form-control {
    border-radius: 0;
  }
  &.has-extraPadding {
    .form-control {
      padding: 10px;
    }
  }
}

.sui-stack {
  .sui-columns-toggle {
    position: relative !important;
    right: initial;
  }
}

.sui-jobs-dashboard header {
  padding-left: 16px;
}
