// Search UI
.sui-result {
  list-style: none;
  padding: 0px 0;
  text-decoration: none;
  display: block;
  border: 1px solid #f0f0f0;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
  overflow-wrap: break-word;
  overflow: hidden;
}

.sui-result + .sui-result {
  margin-top: 15px;
}

.sui-layout-header {
  padding: 0;
  border-bottom: 0;
}

@media (max-width: 800px) {
  .sui-layout-sidebar-toggle {
    display: block !important;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    color: $col-royal-blue;
    background-color: white;
    border: 1px solid $col-royal-blue;
    border-radius: 4px;
  }
}

.sui-result {
  &.has-table {
    .accordion-header {
      .accordion-button {
        padding-left: 28px;
      }
    }

    .sui-result__title {
      padding-left: 0.3em;
      padding-top: 10px;
    }
  }

  &--padded {
    padding-top: 20px;
    padding-bottom: 20px;
  }


}

.search-box-header {
  padding: 32px 24px;
  border-bottom: 1px solid #eeeeee;
}

.no_sidebar .sui-layout-sidebar {
  flex: 0 !important;
  width: 0 !important;
  padding: 0 !important;
}

.no_sidebar .sui-layout-main {
  padding: 32px 0 0 0 !important;
  width: 100% !important;
}

.sui-layout-main {
  width: 100%;
  padding: 32px 0 32px 32px;
}

// Facets
.clear-filter-div {
  padding-bottom: 32px;
}

.clear-filter-button {
  width: 100%;
}

.sui-layout-body__inner {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 24px;
}

.sui-layout-sidebar {
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  padding: 32px 32px 0 0;
}

.sui-layout-sidebar--toggled {
  display: block !important;
  animation: fadein 0.2s ease-out;
}

.sui-layout-main {
  width: 100%;
  padding: 32px 0 32px 32px;
}

// Handle sidebar on smaller screens
@media (max-width: 859px) {
  .sui-layout-main {
    padding-left: 0;
  }

  .sui-layout-body__inner {
    display: block;
    padding: 0 15px;
  }

  .sui-layout-main {
    padding: 0 !important;
  }

  .sui-layout-sidebar {
    z-index: 1021;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px 30px 15px;
    background-color: #fcfcfc;
    overflow: auto;
  }

  .sui-layout-sidebar-toggle {
    display: block !important;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    color: #3a56e4;
    background-color: #fff;
    border: 1px solid #3a56e4;
    border-radius: 4px;
  }

}

//Handle sidebar on smaller screens inside a modal
@media (max-width: 1199px) {
  .modal-content .sui-layout-body__inner {
    display: block;
    padding: 0 15px;
  }

  .sui-layout-main {
    padding: 0 !important;
  }

  .modal-content .sui-layout-sidebar {
    z-index: 1021;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px 30px 15px;
    background-color: #fcfcfc;
    overflow: auto;
  }

  .modal-content .sui-layout-sidebar-toggle {
    display: block !important;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    color: #3a56e4;
    background-color: #fff;
    border: 1px solid #3a56e4;
    border-radius: 4px;
  }
}

.sui-resultsTable {
  min-height: 400px;
  @media (min-width: 1200px) {
    .spinner-wrapper {
      position: absolute;
      top: 30%; right: 45%;
      transform: translate(50%,-50%);
    }
  }
}

#sui-tbl-checkbox-actions {
  code {
    color: var(--bs-code-color);
    word-wrap: break-word;
  }
  position: absolute;
  right: 0;
  .dropdown * {
    font-size: 0.8rem;
  }
 .btn {
   border: none !important;
 }
}

