.table {
  &-responsive {
    &.has-error {
      border: solid 1px $col-err-bdr;
      code {
        font-weight: bold;
        color: $col-err-txt;
      }
      .rdt_TableBody * {
        background-color: $col-err-bg2;
      }
      .rdt_TableHeadRow *, .rdt_Pagination * {
        background-color: white;
      }
    }
  }
}