// CSS for search page results or full site

a:focus, button:focus, input:focus, select:focus, textarea:focus,
[tabindex='0']:focus, [tabindex='1']:focus, a:active, button:active, input:active, select:active, textarea:active, [tabindex='0']:active, [tabindex='1']:active {
  @include mx-focus;
}

html {
  scroll-padding-top: 61px;
}

.required {
  color: red;
}

.text-center {
  text-align: center;
}

.error-row {
  height: 35em;
}

p {
  white-space: pre-line;
}

.results-header {
  white-space: nowrap;
}

.link {
  cursor: pointer;
  color: var(--bs-link-color);
  text-decoration: underline;
}

.table-responsive td:hover {
  cursor: pointer;
}

.title {
  font-weight: bold;
  color: #808080;
}

.lnk--ic {
  display: inline-flex !important;
  align-items: center;
  text-decoration: none;
  svg {
    margin-left: 0.25rem;
  }
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.bg--navBarGrey {
  background-color: #505250;
}

.bg--entityWhite {
  background-color: #fcfcfc;
}

.mt-resp {
  @include lg {
    margin-top: 5rem;
  }
}

.pl-0 {
  padding-left: 0 !important;
}

.fs-xs {
  font-size: 12px;
}

[id^="react-joyride-step"] {
  * {
    text-align: left;
  }
  h4 {
    padding-left: 10px;
    padding-top: 20px;
  }
  .__floater {
   @include lg {
     width: 40% !important;
   }
  }
}

#__next, #__next > div:not(.sui-layout, .footer-wrapper, .spinner-wrapper) {
  display:grid;
  grid-template-rows:auto 1fr auto;
  grid-template-columns:100%;

  /* fallback height */
  min-height: calc(100vh - 277px);
  /* new small viewport height for modern browsers */
  min-height: calc(100svh - 277px);
}

.revisions-select {
  font-size: 12px !important;
  &.is-active .css-1s2u09g-control {
    border: solid 2px var(--bs-success);
    border-radius: 4px;
  }
}